body
{
    background-color: darkgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main
{
    max-width: 900pv;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
}

.logo
{
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 3px;
}

.logo img
{
    width: 100%;
    height:100%;
}

.button 
{
    background-color: white; 
    color: orange;
    padding-top: 1pc;  
    padding-bottom: 1pc; 
    font-size: 0.9pc;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button:hover
{
    background-color:black ;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:disabled
{
    background-color:black;
    opacity: 0.5;
    box-shadow: none;
}

input
{
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    max-width: 100%;
    font-size: 0.8pc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
    color:orange;
    background-color: black;
}

.buttongrid
{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows:60% 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    text-align: center;
    gap: 3px;
}

.info
{
    display: grid;
    grid-template-columns: 7% 10%;
    gap: 3px;
}

.info img
{
    width: 100%;
    height: 70%;
}

.legend
{
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-small;
  color: orange;
  background-color: black;
  align-items: center;
  padding: 5px;
  border: 1px solid white ;
  width: fit-content;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

